{$HOME_HOST} {
}
{$BIRTHDAYS_CALENDAR_HOST} {
    proxy / birthdays-calendar.local {
        transparent
    }
}
{$DAVREDIRECTOR_HOST} {
    proxy / davredirector.local {
        transparent
    }
}
{$SIRIKON_HOST} {
    proxy / static-sites.local {
        header_upstream host sirikon
    }
}
{$CV_SIRIKON_HOST} {
    proxy / static-sites.local {
        header_upstream host cv.sirikon
    }
}
{$ASTENAGUSIA_HOST} {
    proxy / static-sites.local {
        header_upstream host astenagusia
    }
}
