{$HOME_HOST} {
}
{$BIRTHDAYS_CALENDAR_HOST} {
    proxy / birthdays-calendar.local {
        transparent
    }
}
{$SIRIKON_HOST} {
    proxy / static-sites.local/sirikon
}
{$CV_SIRIKON_HOST} {
    proxy / static-sites.local/cv.sirikon
}
{$ASTENAGUSIA_HOST} {
    proxy / static-sites.local/astenagusia
}
